/*Local styling*/

html {height:100%; font-family:"Lucida Grande",Verdana,Helvetica,Arial,sans-serif; font-size: 13px;}
body {height:100%; color:black; background:$grey; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px;}


