/*
	Keith Reagan
	template.css for protfolio
*/	

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

body { /*  specific body styling, makes the background image repeat in the x direction and gives a min width of 600px */
	background-repeat: repeat-x;
    background-color: #f2f2f2; 
    /*background-color: #ddeeff;*/
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	min-width: 600px;
	height: 100%;
}

#wrapper {  /*  creates the space around the main content of the page  */
	width: 90%; 
	height: 100%;
	margin: 10px auto; 
	background-color: #9ac6e0;
	border: 1pt solid #616161;
}


nav { /*  styles the nav panel off to the left of the main conent  */
	float: left;
	width: 100%;
	height: 100%;
	background-color: #9ac6e0;
	text-decoration: none;
	margin-bottom: 1em;
/*	position:absolute; */
	
}
	nav ul { /*  styling for nav links, removes bullets  */
		list-style-type: none;
		/*font-size: 1.2em;*/
		padding: 0;
	}
	/*  general link styling */
	nav a:visited {
		/*color: #344873;*/
	}
	nav a:hover {
		/*color: #FFFFFF;*/
	}


	.navbar {
		padding-top: 0;
		padding-bottom: 0;
		font-size: 14px;
		border-bottom: 1pt solid #616161
	}
	.dropdown-toggle::after {
		margin-top: .5em;
		vertical-align: .15em;
		font-size: 14px;
	}	
	.dropdown-item {
		font-size: 14px;
	}
	.bg-light {
		background-color: #9ac6e0!important;
		color: black;
	}
	.navbar-light .navbar-nav .nav-link .container-fluid {
		color: black;
		/*background-color: #ddeeff;*/
	}	
	.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
	}

	.navbar-light .navbar-nav .nav-link {
    color: white;
}
li {
 /* formats bullets so the text aligns more with them and not indented on a new line */
  list-style-position: inside;
}

	li a { /*  styling for links in nav area  */
	  display: block;
	  color: white;
	  text-decoration: none;
	  padding: 0em 1em;
	}

h1,
h2 { /* general formatting for h1 + h2 */
	font-family: Georgia, "Times New Roman", serif;
}

	h1 { /*  specific styling for h1, makes the image not repeat and resize with the window */
		color: white;
		margin-bottom: 0;
		padding: 10px;
		background-repeat: no-repeat;
		background-size: 100% 100%; 

	}
	h2 { /*  more specific h2 styling */
		color: #3399CC;
		margin-top: 0;
	}

div#content { /*  styling the main piece of content text  */
	/*margin-left: 12em;*/
	background-color: white;
	padding: 1.25em;
}

div#content ul { /*  changing bullets to image in list */
	/*list-style-image: url('marker.gif');*/
}

div#codebox p { /* formatting paragraphs above code in codebox div from content div  */
    margin-left: 10%;
    margin-right: 10%;
}
	
	p#codebox_top {
		margin-top: 2.25rem;
	}
	
div#smb_main p { /* formatting paragraphs above code in codebox div from content div  */
    margin-left: 10%;
    margin-right: 10%;
}
	
	p#smb_main_top {
		margin-top: 2.25rem;
	}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}

pre {
	margin-bottom: 0;
}

/* table formatting */
table {
	caption-side: top;
	margin-left: 10%;
    margin-right: 10%;
	width: 80%;
	border: 1pt solid #616161;
	border-spacing: 0;

}

table caption {
	background-color: #9ac6e0;
	color: white;
	font-style: italic;
	padding-top: .5em;
    padding-bottom: .5em;
	margin-top: .5em;
	border: 1pt solid #616161;
	border-bottom: 0pt;
}

thead { /* added in the thead styling  */
	padding: .5em;
}

th {/* added in the table styling  */
	
	padding: .5em;
	text-align: left;
	background: #f2f2f2;
}

td {/* added in the table data styling  */
	padding: .5em;
	
}
		tr:nth-child(even) { /* styling for table making every other even row another color */
			background: #f2f2f2;
	}
	
code  {
	margin-left: 10%;
	margin-right: 10%;
	border: 1pt solid;
}

	.coding {
    color: #ddd;
	display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #444;
    -webkit-text-size-adjust: none;
}

code#docker {
    white-space: pre-wrap;
}

fieldset { /* styling for the fieldsets */
	background-color: #e8f2fc;
    margin-bottom: 10px;
	border: 1px solid #00569f;
}




label { /* styling for the labels, making them all the same width */
	width: 140px;
	display: inline-block;
    text-align: right;
    vertical-align: top;
}

textarea { /* styling for the text area to fill the width of the page */
	width: 100%;
}

	img[class="smb_images"] {  /* styling for the image to make it fill the width of the div */
		/*float: left;*/
		padding: 0 1em 1em 0;
	/*	width: 200px;
		height: 200px;*/
	}

	img[id="label_template"] {  /* styling for the image to make it fill the width of the div */
		padding: 0 1em 1em 0;
		width: 300px;
		height: 300px;
	}

	div#caption {
		padding: 1em 0em 1em 1.4em;
	}
	img.images {
    max-width: 100%;
    padding: 0em 1.4em 0em 1.4em;
    margin-right: 0.4em;
	}

#contact { /*  styling for contact info above the footer */
	font-size: 90%;
}
dt { /* not sure why this was initially in here, I don't see any dt or dd tags in the HTML */
	color: #000033;
}
footer { /*  styling for footer, center aligning the text and clearing the float to force it to the bottom of the page */
	color: white;
	text-align: center;
	font-family: Georgia, "Times New Roman", serif;
	/*background-color: #f2f2f2;*/
	background-color: #f2f7fc;
	color: black;
	height: 4em;
    padding-top: 1.25em;
    padding-bottom: 2.5em;
	clear: left;
}
	footer>a { /*  styling for the footer email link */
		color: black;
		font-style: italic;	
	}

	img#social_icon {
	    width: 16px;
	    height: 16px;
	    margin-left: 3px;
	    margin-bottom: 3px;
	}
	
	img#comptia-security-ce-certification_icon {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-bottom: 3px;
}